@media only screen and (max-width: 575px) {
    .color-sm {
        background-color: #DDDDDD
    }
    td {
        display: block;
        text-align: left;
        width: 100%;
        border-style: none!important;
    }
}
