{% extends "base.html" %}

{% block title %}
ページが見つかりません
{% endblock %}

{% block body %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
            <!-- navbar-dark : 文字色白 , bg-dark : 背景黒 -->
            <a class="navbar-brand" href="/">IQ1でもわかるOCW</a>
            <!-- TODO 必要ならばトグルメニューを追加 -->
        </nav>

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>ページが見つかりません</h3>
                </div>
                <div class="p-3">
                  <p>
                    このアプリは現在，オフラインです．<br/>
                    オフライン時は，オンライン中に閲覧したページのみ見ることができます．<br/>
                    インターネットに接続するか，以下のリンクよりトップページに戻ってください．
                  </p>
                  <a href="/"> トップページに戻る </a>
                </div>
            </div>
        </div>

{% endblock %}
