{% extends "base.html" %}
{% load static %}

{% block title %}
{{ gakuin_name }}
{% endblock %}
<!-- 学院ごとのページ -->

{% block header %}
<link href="{% static 'css/resultTable.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h2> {{gakuin_name}} の授業一覧</h2>
                </div>

                <div class="pt-1 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> 開講元 </h4>
                            <div>
                                {% for item in opening_department_list %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="opening_department" type="checkbox" id="{{ item }}" checked="checked" onchange="checkboxListener(id, 'data-opening_department')">
                                    <label class="form-check-label"> {{ item }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group float-right pt-2">
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('opening_department', true)">全て選択</button>
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('opening_department', false)">全て選択解除</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-1 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> 番台 </h4>
                            <div>
                                {% for item in series_list %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="series" type="checkbox" id="{{ item }}" checked="checked" onchange="checkboxListener(id, 'data-series')">
                                    <label class="form-check-label"> {{ item }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group float-right pt-2">
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('series', true)">全て選択</button>
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('series', false)">全て選択解除</button>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="table-responsive">
                    {% include "resultTable.html" with result_head=result_head result_content=result_content %}
                 </div>
            </div>
        </div>
        <script src="{% static 'js/department.js' %}"></script>

{% endblock %}
