{% extends "base.html" %}
{% load static %}

{% block title %}
{{ gakuin_name }}
{% endblock %}
<!-- 学院ごとのページ -->

{% block header %}
<style>
@media only screen and (max-width: 575px) {
    .color-sm {
        background-color: #EEEEEE;
    }
    .padding-bottom-sm-sm {
        padding-bottom: 5px!important;
    }
    .padding-top-sm-sm {
        padding-top: 5px!important;
    }
    td {
        display: block;
        text-align: left;
        width: 100%;
        border-style: none!important;
    }
}
</style>
{% endblock %}

{% block body %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
            <!-- navbar-dark : 文字色白 , bg-dark : 背景黒 -->
            <a class="navbar-brand" href="/">IQ1でもわかるOCW</a>
            <!-- TODO 必要ならばトグルメニューを追加 -->
        </nav>

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h2> {{gakuin_name}} の授業一覧</h2>
                </div>

                <div class="pt-1 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> 開講元 </h4>
                            <div>
                                {% for item in opening_department_list %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="opening_department" type="checkbox" id="{{ item }}" checked="checked" onchange="checkboxListener(id, 'data-opening_department')">
                                    <label class="form-check-label" for="{{ item }}"> {{ item }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group float-right pt-2">
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('opening_department', true)">全て選択</button>
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('opening_department', false)">全て選択解除</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-1 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> 番台 </h4>
                            <div>
                                {% for item in series_list %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="series" type="checkbox" id="{{ item }}" checked="checked" onchange="checkboxListener(id, 'data-series')">
                                    <label class="form-check-label" for="{{ item }}"> {{ item }} </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="btn-group float-right pt-2">
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('series', true)">全て選択</button>
                                <button class="btn btn-outline-primary" onclick="changeAllCheckboxes('series', false)">全て選択解除</button>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="table-responsive">
                    {% include "resultTable.html" with result_head=result_head result_content=result_content %}
                 </div>
            </div>
        </div>
        <script>
            function changeVisibility(lecture_tuple) {
                if (lecture_tuple.getAttribute('data-series') === 'true' && lecture_tuple.getAttribute('data-opening_department') === 'true') {
                    lecture_tuple.classList.add('d-sm-flex');
                    lecture_tuple.classList.remove('d-none');
                } else {
                    lecture_tuple.classList.add('d-none');
                    lecture_tuple.classList.remove('d-sm-flex');
                }
            }

            function checkboxListener(_id, data_type) {
                var rows = document.getElementsByClassName(_id);

                var value = (document.getElementById(_id).checked) ? 'true' : 'false';
                for (var row of rows) {
                    row.setAttribute(data_type, value);
                    changeVisibility(row);
                }
            }

            function changeAllCheckboxes(className, bool_value) {
                var checkboxes = document.getElementsByName(className);

                for (var checkbox of checkboxes) {
                    checkbox.checked = bool_value;
                }
                var rows = document.getElementById('tbody-lecture').getElementsByTagName('tr');

                var data_value = (bool_value) ? 'true' : 'false';
                var data_type = 'data-' + className;
                for (var row of rows) {
                    row.setAttribute(data_type, data_value);
                    changeVisibility(row);
                }
            }
        </script>

{% endblock %}
