{% extends "base.html" %}

{% block title %}
{{ LectureName }} 詳細情報
{% endblock %}

{% block body %}

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3> {{LectureName}} </h3>
                </div>

                <div class="pt-1 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-5">科目コード</dt>
                                <dd class="col-7">{{ LectureCode }}</dd>
                                <dt class="col-5">開講Q</dt>
                                <dd class="col-7">{{ Quarter }}</dd>
                                <dt class="col-5">時間・場所</dt>
                                <dd class="col-7">{{ DateRoom }}</dd>
                                <dt class="col-5">開講元</dt>
                                <dd class="col-7">{{ Department }}</dd>
                                <dt class="col-5">教員名</dt>
                                <dd class="col-7">{{ Professor }}</dd>
                                <dt class="col-5">単位数</dt>
                                <dd class="col-7">{{ Credit }}</dd>
                                <dt class="col-5">言語</dt>
                                <dd class="col-7">{{ Language }}</dd>
                            </dl>
                        </dl>
                    </div>
                </div>

                <div class="p-3 pt-5">
                    <h5> 授業詳細 </h5>
                     <h6>評価方法：</h6>
                     {{AssessStyle}}<br>
                     <h6>履修条件：</h6>
                     {{CourseCond}}<br>
                     <table class="table">
                         <thead class="thead-dark">
                             <tr>
                                 <th> 　　　　 </th>
                                 <th> 授業計画 </th>
                                 <th> 課題 </th>
                             </tr>
                         </thead>
                         <tbody>
                             {% for item in LecturePlan %}
                             <tr>
                                 <td> {{ item.term }} </td>
                                 <td> {{ item.plan | linebreaksbr }} </td>
                                 <td> {{ item.task }} </td>
                             </tr>
                             {% endfor %}
                         </tbody>
                     </table>
                    <!--
                      ここに授業の内容とか....についての詳しい情報を...
                    -->

                </div>
            </div>
        </div>

{% endblock %}
