
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th> {{ result_head.lecname }} </th>
            <th> {{ result_head.quarter}} </th>
            <th> {{ result_head.dateroom }} </th>
            <th> {{ result_head.series }} </th>
            <th> {{ result_head.opening_department }} </th>
            <th> {{ result_head.teacher }} </th>
        </tr>
    </thead>
    <tbody id="tbody-lecture"> <!-- The attribute 'id' is used in changeAllCheckboxes. -->
        {% for item in result_content %}
        <tr class="{{ item.opening_department }} {{ item.series }}" style="" data-series="true" data-opening_department="true">
            <td> <a href="{% url 'app:lecture' %}?code={{item.code}}">{{item.lecname}}</a></td>
            <td> {{ item.quarter}} </td>
            <td> {{ item.dateroom }} </td>
            <td> {{ item.series }} </td>
            <td> {{ item.opening_department }} </td>
            <td> {{ item.teacher }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
