{% extends "base.html" %}

{% block title %}
{{ lectureName }} 検索結果
{% endblock %}

{% block body %}

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h2> {{lectureName}} 検索結果</h2>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th> {{ result_head.quarter }} </th>
                                <th> {{ result_head.lecname }} </th>
                                <th> {{ result_head.teacher }} </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in result_content %}
                            <tr>
                                <td> {{ item.quarter }} </td>
                                <!-- <td> {{ item.lecname }} </td> -->
                                <td> <a href="{% url 'app:lecture' %}?lecname={{item.lecname}}"> {{item.lecname}}</a></td>
                                <td> {{ item.teacher }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}
