{% extends "base.html" %}
{% load static %}

{% block title %}
{{ lectureName }} 検索結果
{% endblock %}

{% block header %}
<link href="{% static 'css/resultTable.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <!-- navbar-dark : 文字色白 , bg-dark : 背景黒 -->
            <a class="navbar-brand" href="/">IQ1でもわかるOCW</a>
            <!-- TODO 必要ならばトグルメニューを追加 -->
        </nav>

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>検索</h3>
                </div>
                <div class="p-3">
                    <form action="/result" method="GET">
                        <div class="form-group">
                            <!-- <label for="">授業名</label> -->
                            <input type="lecture" class="form-control" name="lectureName">
                        </div>
                        <button type="submit" class="btn btn-dark float-right">検索</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h2> {{lectureName}} 検索結果</h2>
                </div>
                <div class="table-responsive">
                    {% include "resultTable.html" with result_head=result_head result_content=result_content %}
                </div>
            </div>
        </div>

{% endblock %}
