{% extends "base.html" %}

{% block title %}
IQ1でもわかるOCW
{% endblock %}

{% block body %}

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>授業名で検索</h3>
                </div>
                <div class="p-3">
                    <form action="/abc" method="GET">
                        <div class="form-group">
                            <label for="">授業名</label>
                            <input type="lecture" class="form-control" name="lectureName">
                        </div>
                        <button type="submit" class="btn btn-dark float-right">検索</button>
                    </form>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>所属から選択</h3>
                </div>
                <div class="p-3">
                    <ul class="list-group">
                        <li class="list-group-item">理学院</li>
                        <li class="list-group-item">工学院</li>
                        <li class="list-group-item">物質理工学院</li>
                        <li class="list-group-item">情報理工学院</li>
                        <li class="list-group-item">生命理工学院</li>
                        <li class="list-group-item">環境・社会理工学院</li>
                        <li class="list-group-item">その他</li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}
